.thumbnail{
    width: 100%;
    border-radius: 12px;
}
.video-title{
    font-weight: 500;
    margin-bottom: 10px;
}
.video-stats,
.video-author{
    color: rgb(96,96,96);
}
.video-author{
    margin-bottom: 4px;
}
.profile-pic{
    width: 50px;
    vertical-align: top;
}
.profile-img{
    width: 36px;
    border-radius: 25px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap:40px ;
}
@media (max-width: 7000px) {
    .video-grid{
        grid-template-columns: 1fr ;
    }
    .video-title{
        line-height: 20px;
        font-size: 14px;
    }
    .video-stats,
    .video-author{
        font-size: 12px;
    }
}
@media (min-width:701px )and (max-width: 999px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
    .video-title{
        line-height: 20px;
        font-size: 14px;
    }
    .video-stats,
    .video-author{
        font-size: 12px;
    }
}
@media(min-width: 1000px) and (max-width:1399px ){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .video-title{
        line-height: 24px;
        font-size: 16px;
    }
    .video-stats,
    .video-author{
        font-size: 14px;
    }
}
@media (min-width: 1400px) and (max-width: 1799px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .video-title{
        line-height: 24px;
        font-size: 16px;
    }
    .video-stats,
    .video-author{
        font-size: 14px;
    }
}
@media (min-width: 1800px) and (max-width:2049px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .video-title{
        line-height: 24px;
        font-size: 14px;
    }
    .video-stats,
    .video-author{
        font-size: 14px;
    }
}
@media (min-width: 2050px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .video-title{
        line-height: 24px;
        font-size: 16px;
    }
    .video-stats,
    .video-author{
        font-size: 14px;
    }
}
.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
}
.preview-vid{
    cursor: pointer;
}